<!doctype html>
<html ng-app="demo">
<head>
    <title>Hello AngularJS</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>

</head>

<body>
<div ng-controller="Hello">
    <p>The ID is {{greeting}}</p>
    <p>The content is {{greeting.content}}</p>
</div>
</body>
<script>

    angular.module('demo', [])
        .controller('Hello', function($scope, $http) {
            $http.get('http://127.0.0.1:8080/f').
            then(function(response) {
                $scope.greeting = response.data;
            });
        });

</script>
</html>